<!--Head-->
<%- include('../partials/head') %> 
<!--Head-->

<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!--Formulario de Login-->
	<main class= "formulario-ingreso">
		<form action="http://localhost:3000" method="GET"> 
			<input type="text" id="login" name="login" value="Ingresá nombre de usuario">
			<input type="password" id="login" name="login" value="Ingresa contraseña">
			<button id="login" name="login">Ingresá</button>
		</form>
	</main>   
	<!--Formulario de Login-->
	
	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>
</html>